<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>login Concluído</title>
</head>
<body>
  <h2>login realizado com sucesso!</h2>
  <p>Bem-vindo, <%= username %>!</p>
</body>
</html>